@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --text-color: #00fbff;
    /* --text-color: pink; */
    --bg-color: #323234;
    /* --bg-color: #b4b4d4; */
    --white: #fff;
    --black: #000;
    --mob-color: #444444;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    background: var(--bg-color);
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
}

.makeCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.contact button{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--white);
    background: var(--text-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    gap: 10px;
    padding: 5px 30px;
    transition: all 0.3s ease; 
}

.contact button:hover{
    transform: scale(1.1);
}

.contact button a{
    text-decoration: none;
}

.fitImg{
    /* min-width: 300px; */
}

.cardMainContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.cardMain{
    flex: 1;
    max-width: 50%;
    object-fit: contain;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* *******************************test */

.FAQ{
    font-weight: 700;
    font-size: 28px;
    margin-top: 30px;
}

.card-container {
    display: flex;
    /* flex-direction: column;  */
    /* Arrange children in a column */
    align-items: stretch; 
    /* Stretch items to full container width */
    justify-content: center; /* Center items vertically */
    max-height: 40vh;
    margin: 20px 0px;
 }

 .card {
    flex: 1; /* Each card takes equal height */
    background-color: #f0f0f0;
    max-width: 50%;
    object-fit: contain;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  footer div span{
    color: var(--text-color);
    font-weight: 800;
  }
  
  a {
    text-decoration: none;
  }
  /* .card:hover {
    transform: scale(1.05); */
     /* Scale the card on hover for a subtle effect */
  /* } */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 18px;
    list-style: none;
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    transition: 0.4s ease;
}

nav ul li a:hover {
    color: var(--text-color);
}

nav .hamburger {
    position: relative;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: none;
    scale: 0.8;
}

nav .hamburger .bar,
nav .hamburger::after,
nav .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}

nav .hamburger.active::before {
    transform: rotate(-45deg) translate(-8px, 5px);
}

nav .hamburger.active::after {
    transform: rotate(45deg) translate(-8px, -5px);
}

nav .hamburger.active .bar {
    opacity: 0;
}

.container {
    display: inline-flex;
    flex-direction: row;
    /* max-width: 1250px;
    width: 100%;
    margin: 0 auto; */
}

.logo{
    font-size: 2rem;
    color: var(--text-color);
    pointer-events: none;
    margin-right: 270px;
}

.navigation a{
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
    background: var(--text-color);
    color: #fff;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: var(--bg-color);
    padding: 100px;
}

.sec h2{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    header {
        background: var(--mob-color);
        position: sticky;
        top: 0;
        z-index: 9;
    }

    nav .hamburger {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 90px;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: var(--mob-color);
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px;
        gap: 30px;
        transition: .5s ease-in;
    }

    nav ul li a {
        font-size: 28px;
    }

    nav ul.active {
        left: 0%;
    }
}

@media screen and (max-width: 567px) {
    nav {
        padding: 0 30px;
    }

    nav .logo a {
        font-size: 30px;
    }

    nav ul {
        padding: 30px 30px 0;
    }

    nav ul li a {
        font-size: 24px;
    }
}

/* ***************Contact Form ******************* */

.contact-container{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--white);
    position: relative;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 210px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border-color: var(--black);
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.navBack button{
    display: flex;
    margin: 10px 5px;
    padding: 5px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.navBack button a{
    text-decoration: none;
}

.contact-left button img{
    height: 15px;
}

.contact-right img{
    max-width: 200px;
}

.contact-right {
    position: relative;
    background: var(--white);
}

@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
    .contact-right {
        display: none;
    }
}

/* ************Pictures*************** */

#pic1{
    height: 65%;
    /* transition: opacity 0.5s ease-in-out; */
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

.relative{
    position: relative;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#pic4{
    margin-top: 89px;
    width: 70%;
}

/* form.form-example {
    display: table-row;
}

/* .firstMes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25rem;
    padding-bottom: 30rem;
} */
/* div h1 span {
    color: #7eb3ca;
    opacity: 0.7;
}

.knowMore {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    border: 0.25rem;
    background-image: linear-gradient(135deg,#7eb3ca,#d6dbff);
}
.knowMore:hover {
    background-color: #339ac6;
    background-image: none;
    padding: 0.9rem 1.7rem;
}

.picBord {
    max-height: 30rem;
    max-width: 30rem;
    border: .25rem solid;
    border-radius: .5rem;
    margin-bottom: .2rem;
}
.contain1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 25rem;
}
.contain2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 25rem;    
}
.contain3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.divide{
    text-align: center;
    margin-top: 8rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.text{
    color: whitesmoke;
}

.plane{
    position: absolute;
    z-index: -1;
    left: 15rem;
    padding-right: 5rem;
    height: 25rem;
    width: 25rem;
    rotate: 0 0 1 -90deg;
}

@media (max-width:800px) {
    .plane{
        display:none; 
    }
}

.hidden{
    opacity: 0;
}
.show{
    opacity: 1;
    transition: all 3s;
}
.animation{
    position: relative;
    overflow: hidden;
}

.contact button{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
}

.contact button:hover{
    background-image: linear-gradient(135deg,#7eb3ca,#d6dbff);
    font-size: 17px;
    margin: 8px;
}

.textDec a{
    list-style: none;
    text-decoration: none;
}
.textDec {
    list-style: none;
    text-decoration: none;
}

.textColor{
    color: whitesmoke;
}

.contact button a{
    list-style: none;
    text-decoration: none;
} */ 

/* @media (max-width: 1200px) {}
@media (max-width: 1025px) {}
@media (max-width:800px) {
    .phone{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw; 
        align-items: center;
        justify-content: center;
    }
    .picBord{
        display: flex;
        flex-direction: column;
        max-width: 90vw; 
        /* align-items: center; */
        /* justify-content: center; */
    